*{
    margin: 0px;
    padding: 0px;
}
#nav{
    display: flex;
    height: 60px;
    justify-content: space-between;
    z-index: 100;
    position: sticky;
    top: 0px;
    
}
.logo{
    width: 120px;
    height: 40px;
    padding: 10px;
    background-color: white;
}
.logo>img{
    width: 100%;
    height: 40px;
    padding-top: 3px;
}
.option{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(14,1fr);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}
#search{
    width: 90px;
}
.option>div{
    padding: 9px;
    padding-top: 22px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.option img{
    width: 70%;
    height: 17px;
}
.width{
    width: 125px;
}
.width1{
    width: 90px;
}
.option a{
    text-decoration: none;
    color: black;
}
.option a:hover{
   text-decoration: underline 2px rgb(175, 19, 19);
}
.col a{
    color: rgb(35, 255, 218);
}
h2{
    text-align: center;
    margin-top: 25px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.para{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
   
}
.line{
    display: flex;
    width: 90%;
    margin: auto;
}
.line>.line1{
    margin-top: 38px;
    width: 42.5%;
    height: 0px;
    border-top: 2px solid gray;
}
.line h2{
    padding-left: 7px;
    text-align: center;
    padding-right: 7px;
    width: 190px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.line>.line2{
    margin-top: 38px;
    width: 42%;
    
    height: 0px;
    border-top: 2px solid gray;
}
.community-line{
    display: flex;
    width: 90%;
    margin: auto;
}
.community-line>.community-line1{
    margin-top: 68px;
    width: 41%;
    height: 0px;
    border-top: 2px solid gray;
}
.community-line h2{
    margin-top: 55px;
    padding-left: 7px;
    text-align: center;
    padding-right: 7px;
    width: 220px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.community-line>.community-line2{
    margin-top: 68px;
    width: 41%;
    height: 0px;
    border-top: 2px solid gray;
}
#partners{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
}
#partners img{
    width: 100%;
}
#ShopWomen{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    width: 90%;
    margin: auto;
    gap: 10px;
    margin-top: 40px;
    
}
#ShopWomen a{
  text-decoration: none;
  color: black;
}
#ShopWomen img{
    width: 70%;
    display: block;
    margin: auto;
    border-radius: 50%;
}
#ShopWomen p{
    text-align: center;
    padding-top: 6px;
}
#SpecialOffers{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    width: 90%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    line-height: 40px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
}
#SpecialOffers a{
    text-decoration: none;
    color: rgb(54, 52, 52);
}
#SpecialOffers button{
    padding: 10px 15px;
    font-size: 16px;
    margin-top: 13px;
    background-color: white;
    border: 1px solid grey;
}
#SpecialOffers button:hover{
    background-color: black;
    color: aliceblue;
    cursor: pointer;
}
#SpecialOffers-btn{
    margin-top: 40px;
    padding-left: 25px;
}
#SpecialOffers-btn a{
    text-decoration: none;
}
#SpecialOffers-btn button:hover{
    background-color: black;
    color: aliceblue;
    cursor: pointer;
}
#SpecialOffers-btn button{
    padding: 10px 15px;
    font-size: 16px;
    margin-top: 13px;
    background-color: white;
    display: block;
    margin: auto;
    border: 1px solid grey;
}
#communityPost{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    padding-top: 35px;
}
#communityPost img{
    width: 75%;
    height: 300px;
    display: block;
    margin: auto;
}
#margin{
    margin-top: 55px;
}
#communityPost-btn{
    margin-top: 40px;
    padding-left: 25px;
}
#communityPost-btn a{
    text-decoration: none;
}
#communityPost-btn button:hover{
    background-color: black;
    color: aliceblue;
    cursor: pointer;
}
#communityPost-btn button{
    padding: 10px 15px;
    font-size: 16px;
    margin-top: 13px;
    background-color: white;
    display: block;
    margin: auto;
    border: 1px solid grey;
}
#download{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #f8f7f6!important;
    margin-top: 40px;
}
#download>div{
    text-align: center; 
    font-family:'Open Sans', 'Helvetica Neue', sans-serif ;
}
.text{
    width: 46%;
    margin: auto;
    margin-bottom: 25px;
}
.text p{
    font-size: 14px;
    line-height: 19px;
    font-style: inherit bold;
    margin:20px 30px;
}
.text a{
    text-decoration: none;
}
.text button:hover{
    cursor: pointer;
}
.text button{
    padding: 10px 15px;
    font-size: 13px;
    background-color: black;
    color: aliceblue;  
}
#footer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 18px 8px;
    letter-spacing: 2px;
    margin-top: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
}
#footer li{
    list-style: none;
}
#footer li:hover{
    text-decoration: underline 1px solid black;
    cursor: pointer;
}
#footer p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #1c1c1c;
    letter-spacing: .5px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #fff;
}

#footer h4{
    margin-bottom: 1rem;
    font-size: 1.1em;
    line-height: 18px;
    letter-spacing: .1rem; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#div4>div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 90%;
}
#div4 img{
    width: 40%;
}
#NewsletterSignup{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.Newsletter{
    margin-top: 13px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#NewsletterSignup>.Newsletter p{
    padding-left: 7px;
}
#NewsletterSignup>.Newsletter input{
    margin-top: 4.5px;
}
#div5 button{
    text-align: center;
    padding: 8px 80px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid grey;
    background-color: white;
    
}
#div5 button:hover{
    cursor: pointer;
    background-color: black;
    color: aliceblue;
}
.swiper {
    margin-top: 10px;
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 90%;
    margin: auto;
    height: 100%;
    object-fit: cover;
  }
  @media all and (min-width: 451px) and (max-width: 750px) {
    #partners{
        grid-template-columns: repeat(4,1fr);
    }
    #ShopWomen{
        grid-template-columns: repeat(4,1fr);
    }
    #SpecialOffers{
        grid-template-columns: repeat(1,1fr);
    }
    #communityPost{
        grid-template-columns: repeat(2,1fr);
    }
    #download{
        grid-template-columns: repeat(1,1fr);
    }
    #footer{
        grid-template-columns: repeat(3,172px);
        gap: 10px;
    }
    #footer button{
        padding: 8px 56px;
    }
}
@media all and (min-width: 100px) and (max-width: 450px) {
    #partners{
        grid-template-columns: repeat(3,1fr);
    }
    #ShopWomen{
        grid-template-columns: repeat(2,1fr);
    }
    #SpecialOffers{
        grid-template-columns: repeat(1,1fr);
    }
    #communityPost{
        grid-template-columns: repeat(2,1fr);
    }
    #download{
        grid-template-columns: repeat(1,1fr);
    }
    #footer{
        grid-template-columns: repeat(3,142px);
        gap: 10px; 
    }
    #footer button{
        padding: 8px 55px;
    }
    
  }